.container {
  display: flex;
  height: 100%;
  margin-top: 2vh;
  justify-content: flex-end;

  img{
    width: 30%;
    height: auto;
    margin: 0 1vw;
  }

  .containerLeft{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    .title{
      font-family: NeueHaasDisplay-Mediu;
      font-size: var(--about);
    }
    .description{
      display: block;
      font-size: var(--text);
      font-family: NeueHaasDisplay-Roman;
    }
    .socialContainer{
      .socialTitle{
        font-size: var(--about);
        font-family: NeueHaasDisplay-Mediu;
      }
      .socialPlatforms{
        display: flex;
        flex-direction: column;
        font-size: var(--text);
        font-family: NeueHaasDisplay-Roman;
        a{
          text-decoration: none;
          color: var(--black);
        }
      }
    }
  }
  .copy{
    position: absolute;
    bottom: 2vh;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 10;
    margin: 0 auto;
    font-family: NeueHaasDisplay-Roman;
    color: var(--light-gray);
    font-size: var(--copy);
  }
}



@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    padding: 0 3vw;
    display: flex;
    height: 100%;
    margin-top: 10vh;
    justify-content: flex-end;
  
    img{
      width: auto;
      height: auto;
      margin: 0;
    }
  
    .containerLeft{
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: auto;
      .title{
        font-family: NeueHaasDisplay-Mediu;
        font-size: var(--mobile-text);
        padding-bottom: 2vh;
      }
      .description{
        display: block;
        font-size: var(--mobile-text);
        font-family: NeueHaasDisplay-Roman;
      }
      .socialContainer{
        padding: 2vh 0;
        .socialTitle{
          font-size: var(--mobile-text);
          font-family: NeueHaasDisplay-Mediu;
        }
        .socialPlatforms{
          display: flex;
          flex-direction: column;
          font-size: var(--mobile-text);
          font-family: NeueHaasDisplay-Roman;
          a{
            text-decoration: none;
            color: var(--black);
          }
        }
      }
    }
    .copy{
      display: none;
    }
  }
  
}
