.projectImg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Adjust 250px to your preference
  gap: 10px; // This is the gap between images

  img {
    width: 100%;
    height: auto;
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(0.95);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .projectImg {
    grid-template-columns: 1fr; // One image per row on mobile
  }
}
