.container{
  margin-left: 250px;
  }

  .projectsContainer {
    padding-top: 2vh;
    column-count: 3;
  }

  @media only screen and (max-width: 1000px) {
    .projectsContainer {
    padding-top: 8vh;
    column-count: 1;

    }
  }
