.container{
    width: 99%;
}


.projectsContainer {
    column-count: 3;
    div{
        transition: all .2s ease-in-out; 
    }
    div:hover{
        transform: scale(0.95); 
    }
}


@media only screen and (max-width: 500px) {
    .projectsContainer {
        padding-top: 70px;
        column-count: 1;
    }
  }