
.buttonsContainer{
  display: flex;
  flex-direction: column;
  :first-child{
      img{
        padding-right: 5px;
      }
  }
  :nth-child(2){
    img{
      padding-left: 5px;
    }
}
  button{
    text-align: right;
    img{
      width: 20px;
    }
  }
}
.projectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;



  .title{
    width: 100%;
    text-align: left;
    font-size: var(--text);
    color: var(--black);
    background: var(--white);
    font-family: NeueHaasDisplay-Mediu;
  }

  .detailsContainer{
    padding-top: 13px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 50px;
    height: auto;
    width: calc(100% - 100px);
    .description{
      span{
        font-family: NeueHaasDisplay-Mediu;
        padding-right: 10px;
        font-size: var(--text);
      }
      font-size: var(--text);
      font-family: NeueHaasDisplay-Roman;
      color: var(--black);
      }
    .year{
      span{
        font-family: NeueHaasDisplay-Mediu;
        padding-right: 10px;
        font-size: var(--text);
      }
      font-family: NeueHaasDisplay-Roman;
      font-size: var(--text);
    }
    .client{
      span{
        font-family: NeueHaasDisplay-Mediu;
        padding-right: 10px;
        font-size: var(--text);
      }
      font-family: NeueHaasDisplay-Roman;
      font-size: var(--text);
    }
  }
}

.imageRollContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .buttonsContainer{
    position: fixed;
    right: 1vw;
    bottom: 2vh;

    button{
      border: 0;
      font-family: NeueHaasDisplay-Mediu;
      color: var(--black);
      font-size: var(--text);
      background: transparent;
    }
  }

  .imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 1000px;
      height: auto;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .buttonsContainer{
    display: block;
    :first-child{
      position: fixed;
      left: 1%;
      bottom: 1%;
        img{
          display: none;
        }
    }
    :nth-child(2){
      position: fixed;
      right: 1%;
      bottom: 1%;
      img{
        display: none;
      }
  }
    button{
      text-align: right;
      img{
        width: 20px;
      }
    }
  }
  .projectContainer {
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height:auto;
    justify-content: space-around;
    align-items:flex-start;
  
  
  
    .title{
      width: auto;
      text-align: left;
      font-size: var(--mobile-text);
      color: var(--black);
      background: var(--white);
      font-family: NeueHaasDisplay-Mediu;
    }
  
    .detailsContainer{
      padding-top: 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: auto;
      width: calc(100% - 4vw);
      .description{
        span{
          font-family: NeueHaasDisplay-Mediu;
          padding-right: 10px;
          font-size: var(--mobile-text);
        }
        font-size: var(--mobile-text);
        font-family: NeueHaasDisplay-Roman;
        text-align: right;
        color: var(--black);
        }
      .year{
        span{
          font-family: NeueHaasDisplay-Mediu;
          padding-right: 10px;
          font-size: var(--mobile-text);
        }
        font-family: NeueHaasDisplay-Roman;
        font-size: var(--mobile-text);
      }
      .client{
        span{
          font-family: NeueHaasDisplay-Mediu;
          padding-right: 10px;
          font-size: var(--mobile-text);
        }
        font-family: NeueHaasDisplay-Roman;
        font-size: var(--mobile-text);
      }
    }
  }
  
  .imageRollContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    .buttonsContainer{
      position: fixed;
      right: 0;
      bottom: 0;
      background: var(--white);
      height: 7vh;
      width: 100vw;
  
      button{
        border: 0;
        font-family: NeueHaasDisplay-Mediu;
        color: var(--black);
        font-size: var(--text);
        background: transparent;
      }
    }
  
    .imgContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 8vh;
      margin: auto;
      width: 96vw;
      img{
        height: auto;
      }
    }
  }
}