.projectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 14vh;
  justify-content: space-around;
  align-items:flex-start;


  .title{
    width: 100%;
    text-align: left;
    font-size: var(--text);
    color: var(--black);
    background: var(--white);
    font-family: NeueHaasDisplay-Mediu;
  }

  .detailsContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 50px;
    width: calc(100% - 100px);
    .description{
      span{
        font-family: NeueHaasDisplay-Mediu;
        padding-right: 10px;
        font-size: var(--text);
      }
      font-size: var(--text);
      font-family: NeueHaasDisplay-Roman;
      text-align: center;
      color: var(--black);
      }
    .year{
      span{
        font-family: NeueHaasDisplay-Mediu;
        padding-right: 10px;
        font-size: var(--text);
      }
      font-family: NeueHaasDisplay-Roman;
      font-size: var(--text);
    }
    .client{
      span{
        font-family: NeueHaasDisplay-Mediu;
        padding-right: 10px;
        font-size: var(--text);
      }
      font-family: NeueHaasDisplay-Roman;
      font-size: var(--text);
    }
  }
}

.imageRollContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .buttonsContainer{
    position: fixed;
    right: 1vw;
    bottom: 2vh;

    button{
      border: 0;
      font-family: NeueHaasDisplay-Mediu;
      color: var(--black);
      font-size: var(--text);
      background: transparent;
    }
  }

  .imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 1000px;
      height: auto;
    }
  }
}