.container{
  margin-left: 1vw;
  height: 100vh;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background: var(--white);

  .titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerMobile{
    display: none;
  }


  .navContainerMobile{
    display: flex;
  }

  .title{
    font-size: var(--title);
    font-family: NeueHaasDisplay-Mediu;
    padding-right: 3px;
    
    a{
      color: var(--black);
      text-decoration: none;
    }
  }

}

