.container{
  margin-left: 2vw;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--white);

  .containerMobile{
    display: none;
  }


  .navContainerMobile{
    display: flex;
  }

  .title{
    font-size: var(--title);
    font-family: NeueHaasDisplay-Mediu;
    
    a{
      color: var(--black);
      text-decoration: none;
    }
  }

}

