.container{
  margin-left: 1vw;
  height: 100vh;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);

  .titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerMobile{
    display: none;
  }

  .title{
    font-size: var(--title);
    font-family: NeueHaasDisplay-Mediu;
    padding-right: 3px;

    a{
      color: var(--black);
      text-decoration: none;
    }
  }

}

.copy{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 2vh;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 10;
  margin: 0 auto;
  font-family: NeueHaasDisplay-Roman;
  color: var(--black);
  font-size: var(--copy);
}

.burgerShow{

  button{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: 0;
    padding: 10px 2vw;
  }
  img{
    width: 30px;
    height: 30px;
  }
}

.navContainerMobile{

  display: flex; ;
  align-items: center;
  .logo{
    padding: 5px  2vw;
    img{
      width: 55px;
      height: auto;
    }
  }
}

.copyMobile{
  color: var(--light-gray);
}

.burgerHide{
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(16px);
  z-index: 10001;
  width: 100%;
  background:var(--white);
  height: 100%;
  display: flex;
  padding-top: 20vh;
  button{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    padding: 10px 2vw;
    border: 0;
  }
  img{
    width: 30px;
    height: 30px;
  }
}
