.container{
    height: auto;
}

.cv{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: none;
        color: var(--black);
    }

    button{
        background: white;
        font-size: 24px;
        padding: 20px;
        width: auto;
        border: 3px solid var(--black);
        border-radius: 10px;
        font-family: NeueHaasDisplay-Mediu;
        color: var(--black);
        height: 40px;
    }
}

.titleMobile{
    font-size: 30px;
    top: 40px;
    height: 6vh;
}

.title{
    font-size: var(--title);
}


.title,
.titleMobile {
    margin-left: 10px;
    color: var(--black);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
    background: var(--white);
    border-bottom: 3px var(--black) solid;
    font-family: NeueHaasDisplay-Mediu;
}


.projectsContainer {
    column-count: 3;
  }


.titleDetailWrapper{
    display: flex;
    flex-direction: column;
    text-align: right;
    position: fixed;
    top: 10px;
    right: 10px;
}

.titleText{
    display: flex;
    align-items: center;
    font-family: NeueHaasDisplay-Mediu;
}

.titleTime, .titleDetail{
    font-size: var(--text);
}


.ceva:hover{
    color: transparent;
    text-shadow: 0 0 8px var(--black);
}

.aboutMobile{
    padding-top: 25px
}

.about{
    padding: 25px 0;
}

.about, .aboutMobile{
    text-align: center;
    margin: 0 10px;
    margin-top: 10vh;
    font-size: var(--subtitle);
}
