.containerMobile{
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column;
  height: 40px;
  background: transparent;
}

.container{
  flex-direction: column;
}

.container, .containerMobile{
  display: flex;
  p{
    text-decoration: none;
    color: var(--black);
    font-family: NeueHaasDisplay-Mediu;
    font-size: var(--menu);
    padding: 0;
    margin: 0;
    background: transparent;
  }

  .linkActive{
    background: transparent;
    display: flex;
    align-items: center;
    .bullet{
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--gray);
    }
  }


}

.navGroup, .navGroupMobile{
  display: flex;
  flex-direction: column;
  .linkActive{
    margin-left: 10px;
    display: flex;
    align-items: center;
    img{
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }
  p{
    text-decoration: none;
    color: var(--black);
    font-family: NeueHaasDisplay-Mediu;
    font-size: var(--submenu);
    padding: 0;
    margin: 0;
  }
}


.container::-webkit-scrollbar {
  display: none;
}



@media only screen and (max-width: 1000px) {
  .container, .containerMobile{
    display: flex;
    text-align: center;
    p{
      text-decoration: none;
      color: var(--black);
      font-family: NeueHaasDisplay-Mediu;
      font-size: var(--text);
      padding: 0;
      margin: 0;
    }

    .linkActive{
      display: flex;
      align-items: center;
      justify-content: center;
      .bullet{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--gray);
      }
    }
  }
}